<div class="page">

    <app-navbar variant="purple"></app-navbar>


  <div class="top">
    <!-- Back -->
    <a class="back" [routerLink]="['/place' , placeId]">
      <span class="arrow">←</span>
      {{'category.Back' | translate}}
    </a>

  <h1 class="title">Nearest restaurants</h1>

  <!-- Places Grid -->
  <div class="grid">

    @for (Resturant of nearstResturant; track Resturant.id) {
      <div class="card" [routerLink]="['/place' , Resturant.id]" [queryParams]="{ from: 'category', categoryId: placeId }">

        <!-- Save Button -->
        <button class="save"  aria-label="Save place" (click)="toggleSave(Resturant, $event)" [class.active]="Resturant.is_saved">
          <svg class="bm" viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <path
              d="M6.5 3.8c0-.9.7-1.6 1.6-1.6h7.8c.9 0 1.6.7 1.6 1.6v17.7c0 .6-.7 1-1.2.7l-5.3-3.2a1.6 1.6 0 0 0-1.6 0l-5.3 3.2c-.5.3-1.2-.1-1.2-.7V3.8Z"
              class="bm-path"
            />
          </svg>
        </button>


        <div class="img">
          <img [src]="Resturant.cover_image" [alt]="Resturant.name" />
        </div>

        <div class="info">
          <div class="name">{{ Resturant.name }}</div>

        <div class="rate">
          <app-star-rating [rating]="Resturant.rating"></app-star-rating>
          <span>{{Resturant.rating}}</span>
          <span>{{Resturant.views_count}}</span>
        </div>
      </div>

    </div>

    }@empty {
      <p class="text-gray-600 mt-4 font-medium text-center text-xl">NO Nearst Resturants</p>
    }

  </div>

</div>


